html {
  font-size: 10px;
}

::selection {
  background-color: transparent;
}

body {
  margin: 0;
  height: 100vh;
  cursor: url('../static/cursor2_top.png') 8 0, pointer;
  /* image-rendering: crisp-edges; */
  image-rendering: pixelated;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

#game {
  font-size: 1.4rem;
  border-collapse: collapse;
  // display: flex;
  // flex-wrap: wrap;
}

#paw-cursor {
  position: absolute;
  background-image: url('../static/cursor2_hi.png');
  width: 4rem;
  height: 5.2rem;
  top: 1.4rem;
  left: 0;
  transition: transform 0.2s ease-out;
  pointer-events: none;
}

#game-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#width, #height, #monsters {
  max-width: 4rem;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  font-size: 1.5rem;
}

#game-wrapper {
  margin: auto;
  margin-top: -2rem;
  width: max-content;
}

#hud {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

#monsters-left {
  width: 5.2rem;
  padding: 0.2rem 0;
  text-align: center;
  box-sizing: border-box;
  color: pink;
  background-color: #444;
  border: 0.2rem solid white;
}

#gato {
  width: 4.8rem;
  height: 4.8rem;
  box-sizing: content-box;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  background-image: url('../static/gato.png');

  &:hover {
    background-color: #e1e1e1;
    border-top: 0.2rem solid #cecece;
    border-bottom: 0.2rem solid #c0c0c0;
    border-left: 0.2rem solid #b0b0b0;
    border-right: 0.2rem solid #a0a0a0;
  }

  &:active {
    background-color: #ccc;
  }
}

#modal {
  font-size: 2rem;
  border: 0.1rem solid #444;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(9, 9, 9, 0.8);
}

#modal-content {
  width: 360px;
  height: 240px;
  color: #f4f4f4;
}

.gato-idle-0 {
  background-position: 0 0;
}

.gato-idle-1 {
  background-position: -4.8rem 0;
}

.gato-happy-0 {
  background-position: -9.6rem 0;
}

.gato-happy-1 {
  background-position: 0 -4.8rem;
}

.gato-sad-0 {
  background-position: -4.8rem -4.8rem;
}

.gato-sad-1 {
  background-position: -9.6rem -4.8rem;
}

#timer {
  width: 5.2rem;
  padding: 0.2rem 0;
  text-align: center;
  box-sizing: border-box;
  color: pink;
  background-color: #444;
  border: 0.2rem solid white;
}

.history-bar {
  width: 100%;
  height: 2rem;
  margin-top: 0.4rem;
  box-sizing: border-box;
  display: flex;
}

.history-entry {
  height: 1.4rem;
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  background-color: lightblue;
}

.history-entry:nth-child(odd) {
  background-color: steelblue;
}

.history-entry.current-entry {
  border: 0.2rem solid orchid;
}

.board-cell {
  border: 0.2rem solid #333;
  color: #333;
  border-radius: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  margin: 0.05rem;
  overflow: hidden;
  box-sizing: content-box;
  text-align: center;
  background-color: #c2c3c5;
  font-weight: bold;
  display: inline-flex;
}

.board-cell .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.2rem dotted #777;
  border-right: 0.2rem dashed #888;
  border-top: 0.2rem solid #f1f6f0;
  border-bottom: 0.2rem solid #d5d6db;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cell-1 {
  color: blue;
}

.cell-2 {
  color: green;
}

.cell-3 {
  color: red;
}

.cell-4 {
  color: darkblue;
}

.cell-5 {
  color: brown;
}

.cell-6 {
  color: aqua;
}

.cell-7 {
  color: black;
}

.cell-8 {
  color: grey;
}

.board-cell:hover {
  .inner {
    border: 0.2rem solid yellow;
    border-radius: 0.4rem;
  }
}

.board-cell.opened:hover {
  // background-color: #bbb;
  .inner {
    border: 0.2rem solid yellow;
  }
}

/* .board-cell:active {
  background-color: #999;
} */

.board-cell.opened {
  background-color: #e5e5e5;
  border-color: #ccc;

  .inner {
    border: 0;
  }
}

.board-cell.opened.cell-0 {
  background-color: #efefef;
  border-color: #ddd;
}

.board-cell.flagged {
  background-image: url('../static/paw.png');
}

.board-cell.monster {
  border-color: #444!important;
  background: url('../static/monster.png');
  background-color: #444!important;
  
  .inner {
    border: none !important;
    overflow: visible;
  }
}

.board-cell.chorded:not(.opened,.flagged) {
  background-color: #777;
  .inner {
    border: 0;
  }
}
